<!-- <nav class='navbar navbar-expand navbar-light bg-light'>
      <ul class='navbar-nav'>
          <li class='nav-item'><a class='nav-link' [routerLink]="['/dashboard']" routerLinkActive='active'>Dashboard</a>
          </li>
          <li class='nav-item'><a class='nav-link' [routerLink]="['news']" routerLinkActive='active'>Latest News</a>
          </li>
          <li class='nav-item'><a class='nav-link' [routerLink]="['precautions']" routerLinkActive='active'>Precautions</a>
          </li>
          <li class='nav-item'><a class='nav-link' [routerLink]="['addnews']" routerLinkActive='active'>Add News</a>
          </li>
      </ul>
      <a class="btn" style="float: right; font-size: 10px;" [routerLink]="['addnews']">Add News</a>&nbsp;
  </nav> -->
<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['dashboard']" routerLinkActive='active'>
    Dashboard
  </a>&nbsp;&nbsp;
    <a mat-tab-link [routerLink]="['precautions']" routerLinkActive='active'>
    Precautions
  </a>&nbsp;&nbsp;
    <a mat-tab-link [routerLink]="['news']" routerLinkActive='active'>
    Latest News
  </a>&nbsp;&nbsp;
    <a mat-tab-link [routerLink]="['addnews']" routerLinkActive='active'>Add News
  </a>&nbsp;&nbsp;
</nav>



<router-outlet></router-outlet> -->
