.card {
    margin-bottom: 20px;
}

.card-title {
    color: crimson;
    font-size: medium;
}

.card-body {
    font-size: small;
}

.container {
    margin: 10px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.modal-header {
    color: crimson;
    font-size: medium;
}

.readmore:hover {
    color: blue;
}

.btn {
    float: right;
    padding: 5px;
    margin: 5px;
}

.btn-toolbar {
    float: left;
}
