.card {
    size: 20rem;
    float: center;
}

.card-title {
    color: #3f51b5;
    font-size: 24px;
}

.card-header {
    padding: 5px;
    border-bottom: 3px solid #e79212bb;
}

.form-div {
    padding: 25px 25em;
    justify-content: center
}

.btn {
    float: right;
    padding: 5px;
    margin: 5px;
}

.btn-toolbar {
    float: right;
}
