.confirmedDelta {
    font-size: small;
    color: rgb(44, 196, 44);
}

.td {
    font-size: medium;
    text-align: right;
}

.deceasedDelta {
    font-size: small;
    color: red;
}

.recoveredDelta {
    font-size: small;
    color: blue;
}
